body {
  height: 100vh;
  background-image: linear-gradient(to bottom, #a303b0, #000000);
  background-repeat: no-repeat;
  font-family: "Dhyana", sans-serif;
  color: white;
}

#display{
  align-content: center;
  flex-direction: row;
  height: 100%;
}
#logo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pure-img{
  height: 436px;
  width: 437px;
}

.syscom__title {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: 200;
  margin: 0;
}

.login__container{
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.syscom__subtitle {
  font-family: "KoHo", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.pure-form {
  margin: 40px;
  margin-bottom: 0px;
}

fieldset {
  font-family: "KoHo", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset input {
  width: 400px;
  height: 84px;
}

#stacked-username {
  font-size: 2.25rem;
}

#stacked-password {
  font-size: 2.25rem;
  margin: 26px 0px;
}

.pure-button-primary {
  display: grid;
  align-content: center;
  background-color: #a203b0;
  width: 210px;
  height: 34px;
  font-size: 1.5rem;
  margin: 20px auto;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  display: block;
}

footer a {
  text-align: center;
}

.syscom-forgot {
  font-size: 1.25rem;
  margin-bottom: 7px;
}
